@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat');

h1, h2, h3 {
  font-family: 'Do Hyeon', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr auto auto auto auto 1fr;
}

.lionessInfo {
  grid-row: 1/2;
  grid-column: 2/6;
}

.heatCalc {
  grid-row: 2/3;
  grid-column: 2/4;
}

.lifetimeCalc {
  grid-row: 2/3;
  grid-column: 4/6;
}
